<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Kindle Paperwhite (mobi)</string>
		<key>width</key>
		<string>768</string>
		<key>height</key>
		<string>1024</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kindle Paperwhite (PDF)</string>
		<key>width</key>
		<integer>658</integer>
		<key>height</key>
		<integer>905</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kindle Fire HD (7&quot;)</string>
		<key>width</key>
		<integer>800</integer>
		<key>height</key>
		<integer>1280</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kindle Fire</string>
		<key>width</key>
		<integer>600</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Sony Reader PRS-T2/PRS-G1/PRS-T1</string>
		<key>width</key>
		<integer>584</integer>
		<key>height</key>
		<integer>754</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kobo glo (CBZ)</string>
		<key>width</key>
		<integer>758</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kobo touch/Kobo mini</string>
		<key>width</key>
		<integer>600</integer>
		<key>height</key>
		<integer>750</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad 2/iPad mini</string>
		<key>width</key>
		<integer>768</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad Retina(3rd/4th)</string>
		<key>width</key>
		<integer>1536</integer>
		<key>height</key>
		<integer>2048</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad Retina(3rd/4th) two-page spread</string>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1536</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nexus 7</string>
		<key>width</key>
		<integer>800</integer>
		<key>height</key>
		<integer>1280</integer>
	</dict>
</array>
</plist>
